.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.platformName {
    font-weight: bolder;
    font-size: xx-large;
}

.exit {
    display: flex;
    height: 30px;
    align-items: center;
}

.greet {
    font-weight: bold;
    font-size: x-large;
}

.gig {
    margin-top: 40px;
    padding: 20px;
}

.create {
    font-size: 40px;
    text-decoration: underline;

}

.form {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    width: 500px;


}

.description {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}

.a {
    margin-top: 10px;
}
.post{
    display: flex;
    justify-content: center;
    margin: 20px;
}
