body {
    margin: 0px;
    padding: 0px;
    background-color: #eef2f7;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    border: 1px solid #e5e7eb;
}

.platformName {
    font-weight: bolder;
    font-size: xx-large;

}

.exit {
    display: flex;
    height: 30px;
    align-items: center;
}

.greet {
    /* font-weight: bold; */
    font-size: 17px;
    /* margin-top: 20px; */
}

.gig {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.create {
    display: flex;

}

.createButton {
    display: initial;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background-color: rgb(80, 80, 244);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.createButton:hover {
    box-shadow: 2px 2px 3px gray;
}

.createButton:active {
    margin-left: 2px;
    margin-top: 2px;
}


.description {
    /* border: 2px solid black; */
    /* display: flex; */
    align-items: center;
}

.a {
    margin-top: 10px;
}

.post {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form {

    display: none;

}

.toggle .form {
    display: initial;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid gray; */
    /* box-shadow: 0 0 3px; */
    margin: 10px;
    padding: 20px 100px;
    width: 400px;
    box-shadow: 0 0 5px gray;
    background-color: rgb(254, 249, 249);
 
}

.body {
    padding: 10px 20px;
}

.heading {
    font-weight: bold;
    font-size: x-large;
}

/* Existing gigs */
.ExistingGigs {
    margin: 20px 40px;
    /* display: flex;
    flex-direction: column; */
    gap: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.existingGig {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
}

.buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

/* View */
.viewSection {
    display: none;
}

.viewToggle .viewSection {
    display: initial;
}

.logout {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #ef4444;

    color: #ef4444;
    /* background-color: red; */
    background-color: transparent;
}

.logout:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    background-color: #ef4444;
    color: white;
}

.a {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.titleBox {
    width: 350px;
    padding: 5px;
}

.greetings {
    display: flex;
    justify-content: space-between;
}

.budgetBox {
    width: 353px;
    padding: 5px;

}

.createHeading {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
}

.fb {
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
}

/* Post Button */
.postButton {
    background-color: green;
    margin-right: 10px;
}

.cancelButton {
    background-color: rgb(84, 79, 79);

}

.fb:hover {
    box-shadow: 2px 2px 3px gray;
}

.hidden .createButton {
    display: none;
}

.etitle {
    font-weight: bold;
    font-size: 18px;
}

.ebudget {
    font-weight: bolder;
    font-size: large;
}

.eTitlePrice {
    display: flex;
    justify-content: space-between;
}

.gigButton {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.view {
    background-color: #2563eb;
}

.close {
    background-color: red;
}

.gigButton:hover {
    box-shadow: 2px 2px 3px gray;
}

.viewSection {
    /* background-color: pink; */
}

/* .viewSection{
    margin: 2px;
    background-color: green;
    display: grid;
    grid-template-columns:200px 200px;
} */
.bidBy,
.amount,
.message {
    font-weight: bold;
    font-size: 15px;
}

.viewCancel {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.cancel {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(84, 79, 79);
    color: white;
}

.cancel:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;

}

.ViewButtons {
    margin: 5px 3px;
}

.vb {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

.hire {
    background-color: green;

}

.hire:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;

}

.reject {
    background-color: red;
}

.reject:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;

}


.viewToggle .buttons {
    display: none;
}

.ViewMessage {
    text-align: justify;
}

.edescription {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    width: 352px;
    height: 70px;
    padding: 5px;
}
.toggle .myGigs{
   display: none;
}

/* Media */
@media (max-width: 1000px) {
    .ExistingGigs {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .toggle .form {
        margin: 5px;
        padding: 15px 50px;
        width: 270px;
        box-shadow: 0 0 5px gray;
        background-color: rgb(254, 249, 249);
    }

    .titleBox {
        width: 300px;

    }

    .desc {
        width: 310px;
        height: 50px;
    }

    .budgetBox {
        width: 300px;


    }
}