.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.platformName {
    font-weight: bolder;
    font-size: xx-large;
}

.exit {
    display: flex;
    height: 30px;
    align-items: center;
}

.greet {
    font-weight: bold;
    font-size: x-large;
}

.gig {
    margin-top: 40px;
    padding: 20px;
}

.create {
    display: flex;
}

.createButton {
    font-size: 20px;


}



.description {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}

.a {
    margin-top: 10px;
}

.post {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form {
    
    display: none;

}
.toggle .form{
    display: initial;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    width: 600px;
}
.body{
    margin: 10px 20px;
}

/* Existing gigs */
.ExistingGigs{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.existingGig{
    box-shadow: 0 0 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.buttons{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
