body {
    background-color: #f8f9fb;
}

.box {
    margin: 50px;

    width: 300px;
    height: 150px;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    border: 1px solid #e5e7eb;

}

.role {
    padding: 10px;
}


.login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;

}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(80, 80, 244);
    color: white;
    font-weight: bolder;

}

.btn:hover {
    box-shadow: 2px 2px 3px gray;
}

.btn:active {
    margin-left: 2px;
    margin-top: 2px;
}

.textbox,
.role {
    font-size: larger;
}

.name,
.roles {
    padding: 5px;
}

.body {
    display: flex;
    justify-content: center;

}

.header {
    /* display: flex;
    justify-content: space-between; */
    margin: 20px;
}

.platformName {
    font-weight: bolder;
    font-size: xx-large;
    /* color: white; */
}


.tagline{
    /* color: green; */
    font-weight: bold;
}

select{
    width: 177px;
}
/* Media */
@media (max-width: 1000px) {
.box {
    margin: 20px;
    margin-top: 100px;
    width: 300px;
    height: 150px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    border: 1px solid #e5e7eb;

}
}