body {
    margin: 0px;
    background-color: #eef2f7;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    border: 1px solid #e5e7eb;

}

.platformName {
    font-weight: bolder;
    font-size: xx-large;
}

.exit {
    display: flex;
    height: 30px;
    align-items: center;

}

.displayGigs {
    margin: 30px 130px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.displayGig {
    width: 800px;
    box-shadow: 0 0 5px;
    padding: 20px;
    background-color: white;
}

.title {
    font-weight: bolder;
    font-size: x-large;
}

.budget {
    color: rgb(77, 74, 74);
    font-weight: bold;
    font-size: large;
}

.description {
    margin-top: 15px;
}

.bidButton {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}


.bid {
    margin-top: 20px;
    padding: 10px 20px;
    width: 100px;
    background-color: white;
    border: 1px solid #249c50;
    color: #22c55e;
    border-radius: 20px;
    font-weight: bold;
}
/* Disable bid button */
.bid:disabled{
    background-color: gray;
    color: white;
    border: 1px solid gray;
    cursor: none;
}
.bid:hover:disabled{
    box-shadow: 0 0 0;

}

.bid:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
}

.b .bid {
    display: none;
}

.place{
    font-weight: bold;
    font-size: large;
}

.btn{
 padding: 12px 15px;
    border: none;
    border-radius: 15px;
    color: white;
font-weight: bold;
}

.bidFormButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    

}


.submitButton {
    background-color: #22c55e;
   
}
.btn:hover{
     box-shadow: 2px 2px 5px gray;
    cursor: pointer;
}
.cancelButton{
    background-color: red;
}

.form {
    display: none;
}

.inputBox {
    width: 380px;

}

.b .form {

    display: initial;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    /* box-shadow: 0 0 3px; */
    border-radius: 10px;
    width: 450px;
    padding: 20px;
 

}

.bidForm {
    display: flex;
    justify-content: center;
    font-size: large;
}

.logout {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #ef4444;
    color: #ef4444;
    /* background-color: red; */
    background-color: transparent;
}

.logout:hover {
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    background-color: #ef4444;
    color: white;
}

.TitleAndBudget {
    display: flex;
    justify-content: space-between;
}
